# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore environment directories
venv/
env/
splitwise_env/
eb-env/

# Ignore logs
*.log

# Ignore database files
*.sqlite3
*.db

# Ignore any IDE-specific files
.vscode/
.idea/

# Ignore system files
Thumbs.db

# local env files
.env*.local
config.py
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.env.development
.env
.env.production
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
